#!/bin/bash

# ========================================
# Settings
# ========================================
# If "shellvnc" is running in a development mode:
# - "0": no development mode;
# - "1": development mode.
#
# Development mode:
# - Ignores known_hosts when connecting via SSH (useful when testing different VMs).
export SHELLVNC_IS_DEVELOPMENT=0

# If "shellvnc" is running in a debug mode:
# - "0": no debug mode;
# - "1": debug mode.
#
# Debug mode:
# - Prints more log messages.
export SHELLVNC_IS_DEBUG=0

# Is enable USB-passthrough
export SHELLVNC_IS_FORWARD_USB=1

# Check USB devices via "usbip list -l" command and then specify the devices to be forwarded in the following array.
# For example, if "usbip list -l" returns:
#  - busid 4-3 (0951:1666)
#    Kingston Technology : DataTraveler 100 G3/G4/SE9 G2/50 Kyson (0951:1666)
# Then, specify "0951:1666" in the array below.
export SHELLVNC_USB_DEVICES_TO_FORWARD=(
)

# Is enable Audio-passthrough
export SHELLVNC_IS_FORWARD_AUDIO=1

# Scale of the message prefix (number of spaces for each indent level):
# - "0": no indent
# - "1": one space;
# - "2": two spaces;
# - etc.
export SHELLVNC_MESSAGE_INDENT_SCALE=2

# If "shellvnc" should automatically install packages, which are required for it to work:
# - "0": do not install packages;
# - "1": install packages.
export SHELLVNC_AUTO_INSTALL_PACKAGES=1

# If the data transferred between the client and the server should be compressed:
# - "0": do not compress data;
# - "1": compress data.
#
# Useful when the network bandwidth is limited.
export SHELLVNC_IS_COMPRESS=1

# Version of TigerVNC to be used in Windows client.
# Check the latest version at https://github.com/TigerVNC/tigervnc/releases or https://sourceforge.net/projects/tigervnc/files/stable/
export TIGERVNC_VERSION_FOR_WINDOWS=1.15.0

# Version of PulseAudio to be used in Windows client.
# Check the latest version at https://github.com/pgaskin/pulseaudio-win32/releases
export PULSEAUDIO_VERSION_FOR_WINDOWS=v5

# Version of "zstd" to be used in Windows client.
# Check the latest version at https://github.com/facebook/zstd/releases
export ZSTD_VERSION_FOR_WINDOWS=v1.5.7

# Version of USB IP to be used in Windows client.
# Check the latest version at https://github.com/cezanne/usbip-win/releases
export USBIP_VERSION_FOR_WINDOWS=0.3.6-dev
# ========================================
